#wrap
  .container
    .page-header
      %h1
        Youtube
        %small
          progressBar.js

    %p.lead
      A Youtube Loading Bar jQuery Plugin
      %button.btn.btn-primary.btn-lg{ :onclick => 'javascript:window.runProgressBar()' }
        Run Progress Bar
    %p
      See more
      %a{ :href => 'https://github.com/ralphcrisostomo/progressBarJS'}
        documentation.



#footer
  .container
    %p.text-muted.credit
      -#By
      -#%a{ :href => 'http://ralphcrisostomo.net' }
      -#  Ralph Crisostomo
      %iframe{ :src => 'http://ghbtns.com/github-btn.html?user=ralphcrisostomo&repo=progressBarJS&type=follow&count=true', :allowtransparency => 'true', :frameborder => '0', :scrolling => '0', :width => '165', :height => '20' }
      %iframe{ :src => 'http://ghbtns.com/github-btn.html?user=ralphcrisostomo&repo=progressBarJS&type=fork&count=true', :allowtransparency => 'true', :frameborder => '0', :scrolling => '0', :width => '95', :height => '20' }
      %iframe{ :src => 'http://ghbtns.com/github-btn.html?user=ralphcrisostomo&repo=progressBarJS&type=watch&count=true', :allowtransparency => 'true', :frameborder => '0', :scrolling => '0', :width => '110', :height => '20' }

















